.author {
  display: flex;
  justify-content: center;
  padding-right: 5px;
  padding-bottom: 130px;
}

.autor__text-wrapper {
  position: relative;
  margin-left: -190px;
  padding-top: 140px;
  padding-left: 265px;
  padding-right: 75px;
  width: 734px;
  min-height: 600px;
  border: 3px solid #f59f26;

  background-image: radial-gradient(at 25% 37%, rgba(255, 255, 255, 0.15), transparent 35%);

  &::after {
    position: absolute;
    top: 222px;
    left: 75px;
    width: 401px;
    height: 2px;

    background-color: rgba(255, 255, 255, 0.1);

    content: "";
  }
}

.author__heading {
  .indent-reset;
  margin-bottom: 3px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #f99406;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 0 0 20px rgba(249, 148, 6, 0.6);
}

.author__name {
  .indent-reset;
  margin-bottom: 24px;

  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.author__activity {
  .indent-reset;
  margin-bottom: 50px;
  width: 240px;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
}

.author__photo {
  align-self: center;
  margin-top: -15px;

  order: -1;
  z-index: 1;
}

.author__photo img {
  display: block;
}

// =========================== Tablet ===========================

@media (max-width: @desktop) {
  .author {
    padding-bottom: 105px;
  }

  .autor__text-wrapper {
    margin-left: -145px;
    margin-right: -5px;
    padding-top: 115px;
    padding-left: 170px;
    padding-right: 50px;
    width: 579px;
    min-height: 495px;

    background-image: radial-gradient(at 40% 37%, rgba(255, 255, 255, 0.12 ), transparent 50%);

    &::after {
      top: 188px;
      left: 0;
      width: 370px;
    }
  }

  .author__name {
    margin-top: -15px;
    margin-bottom: 30px;

    font-size: 28px;
  }

  .author__activity {
    .indent-reset;
    margin-bottom: 18px;
  }

  .author__info {
    font-size: 16px;
  }
}

// =========================== Mobile ===========================

@media (max-width: @tablet) {
  .author__name {
    font-size: 20px;
  }
}
