.features {
  padding-bottom: 130px;
}

.features__list {
  position: relative;
  .list-reset;
  margin: 0 auto;
  padding-left: 110px;
  padding-right: 110px;
  display: flex;
  justify-content: space-between;

  &::before,
  &::after {
    position: absolute;
    top: 12px;
    width: 79px;
    height: 2px;

    background-color: #242930;
    content: "";
  }

  &::before {
    left: -3px;
  }
  &::after {
    right: 15px;
  }
}

.features__item {
  position: relative;
  width: 210px;

  &::before {
    position: absolute;
    content: "";
  }

  &--fast {
    &::before {
      top: -96px;
      left: -5px;
      width: 115px;
      height: 71px;
    
      background: url("../img/fast-icon.png") no-repeat;
    }
  }

  &--seize {
    margin-left: -10px;

    &::before {
      top: -85px;
      width: 68px;
      height: 61px;

      background: url("../img/seize-icon.png") no-repeat;
    }
  }

  &--earn {
    width: 180px;

    &::before {
      top: -88px;
      left: -4px;
      width: 67px;
      height: 67px;
    
      background: url("../img/earn-icon.png") no-repeat;
    }
  }

  &::after {
    position: absolute;
    top: 12px;
    right: -115px;

    width: 110px;
    height: 2px;

    background-color: #242930;

    content: "";
  }
}

.features__item-first-word {
  display: block;
  margin-bottom: -20px;
  text-transform: uppercase;
  color: #ffffff;
}

// =========================== Tablet ===========================

@media(max-width: @desktop) {
  .features__item {
    width: 185px;

    font-size: 16px;
    line-height: 20px;
  }
}