.features {
  padding-bottom: 130px;
}

.features__list {
  .list-reset;
  position: relative;
  margin: 0 auto;
  padding-left: 110px;
  padding-right: 110px;
  display: flex;
  justify-content: space-between;

  &::before,
  &::after {
    position: absolute;
    top: 12px;
    width: 79px;
    height: 2px;

    background-color: #242930;
    content: "";
  }

  &::before {
    left: -3px;
  }

  &::after {
    right: 15px;
  }
}

.features__item {
  position: relative;
  width: 210px;

  &::before {
    position: absolute;
    content: "";
  }

  &--fast {
    &::before {
      top: -96px;
      left: -5px;
      width: 115px;
      height: 71px;

      background: url("../img/icons/fast-icon.png") no-repeat;
    }
  }

  &--seize {
    margin-left: -10px;

    &::before {
      top: -85px;
      width: 68px;
      height: 61px;

      background: url("../img/icons/seize-icon.png") no-repeat;
    }
  }

  &--earn {
    width: 180px;

    &::before {
      top: -88px;
      left: -4px;
      width: 67px;
      height: 67px;

      background: url("../img/icons/earn-icon.png") no-repeat;
    }
  }

  &::after {
    position: absolute;
    top: 12px;
    right: -115px;

    width: 110px;
    height: 2px;

    background-color: #242930;

    content: "";
  }
}

.features__item-first-word {
  display: block;
  margin-bottom: -20px;
  text-transform: uppercase;
  color: #ffffff;
}

// =========================== Tablet ===========================

@media (max-width: @desktop) {
  .features {
    padding-bottom: 115px;
  }

  .features__list {
    padding: 0;
    padding-right: 35px;

    &::before,
    &::after {
      display: none;
    }
  }

  .features__item {
    width: 185px;

    font-size: 16px;
    line-height: 20px;

    &::after {
      display: none;
    }

    &--fast {
      &::before {
        left: 0;
      }
    }

    &--seize {
      margin-left: 5px;

      &::before {
        left: -3px;
      }
    }

    &--earn {
      &::before {
        left: 0;
      }
    }
  }

  .features__item-first-word {
    margin-bottom: -10px;
  }
}

// =========================== Mobile ===========================

@media (max-width: @tablet) {
  .features {
    padding-bottom: 0;
  }

  .features__list {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .features__item {
    margin-bottom: 142px;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    &--fast {
      &::before {
        left: 35px;
      }
    }

    &--seize {
      margin-left: 0;

      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--earn {
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
