.knowledge {
  position: relative;
  padding-top: 10px;
  padding-bottom: 170px;
  background: url("../img/other/graphic-line-desktop.png") no-repeat center 250px;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 130px;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(to bottom, transparent 0, transparent 98px, rgba(255, 255, 255, 0.05) 98px, rgba(255, 255, 255, 0.05) 100px, transparent 100px, transparent 201px, rgba(255, 255, 255, 0.05) 201px, rgba(255, 255, 255, 0.05) 203px, transparent 203px, transparent 305px, rgba(255, 255, 255, 0.05) 305px, rgba(255, 255, 255, 0.05) 307px, transparent 307px, transparent 408px, rgba(255, 255, 255, 0.05) 408px, rgba(255, 255, 255, 0.05) 410px, transparent 410px, transparent 100%);

    content: "";
  }
}

.knowledge__heading {
  position: relative;

  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1.5px;

  &::before,
  &::after {
    position: absolute;
    top: -39px;
    left: -65px;

    width: 69px;
    height: 2px;

    background-color: #f99406;

    content: "";
  }

  &::after {
    top: -24px;
    left: -44px;
  }
}

.knowledge__list {
  display: flex;
  .list-reset;
  padding-top: 119px;
  padding-left: 10px;

  counter-reset: myCounter;
}

.knowledge__item {
  position: relative;
  width: 210px;
  flex-shrink: 0;

  &::before {
    position: absolute;
    top: -15px;
    left: -20px;

    counter-increment: myCounter;
    content: counter(myCounter);
    color: rgba(255, 255, 255, 0.07);

    font-weight: 700;
    font-size: 72px;
    line-height: 52px;
  }

  &:first-child {
    margin-top: 86px;
    margin-right: 110px;
  }

  &:nth-child(2) {
    .knowledge__item-dot {
      top: 129px;
      left: -13px;
    }
  }

  &:nth-child(3) {
    margin-top: 98px;
    margin-right: 25px;

    &::before {
      top: -7px;
      left: -25px;
    }

    .knowledge__item-dot {
      top: 140px;
      left: -7px;
    }
  }

  &:nth-child(4) {
    margin-right: 20px;

    &::before {
      left: -25px;
    }

    .knowledge__item-dot {
      top: 120px;
      left: 2px;
    }
  }

  &:last-child {
    margin-top: -35px;

    &::before {
      top: -20px;
      left: -28px;
    }

    .knowledge__item-dot {
      top: 89px;
      left: -12px;
    }
  }
}

.knowledge__item-dot {
  position: absolute;
  top: 128px;
  left: 0;

  width: 23px;
  height: 23px;

  border: 9px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 9px rgba(255, 255, 255, 0.2);
}

// =========================== Tablet ===========================

@media (max-width: @desktop) {
  .knowledge {
    padding-top: 20px;
    padding-bottom: 15px;
    background: none;

    &::before {
      display: none;
    }
  }

  .knowledge__heading {
    margin-bottom: 67px;

    font-size: 28px;
    line-height: 36px;

    &::before,
    &::after {
      top: -43px;
      left: -65px;
    }

    &::after {
      top: -28px;
      left: -43px;
    }
  }

  .knowledge__list {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    padding-left: 65px;
    padding-right: 15px;

    width: 600px;
    height: 300px;

    font-size: 16px;
  }

  .knowledge__item {
    margin-bottom: 50px;

    &:nth-child(n+4) {
      margin-left: auto;
    }

    &:first-child {
      margin-top: 0;
      margin-right: 0;
    }

    &:nth-child(2) {
      .knowledge__item-dot {
        top: 3px;
        left: -55px;
      }
    }

    &:nth-child(3) {
      margin-top: 0;
      margin-right: 0;

      .knowledge__item-dot {
        top: 3px;
        left: -55px;
      }
    }

    &:nth-child(4) {
      margin-right: 0;

      .knowledge__item-dot {
        top: 3px;
        left: -55px;
      }
    }

    &:last-child {
      margin-top: 0;

      .knowledge__item-dot {
        top: 3px;
        left: -55px;
      }
    }
  }

  .knowledge__item-dot {
    top: 3px;
    left: -55px;

    width: 16px;
    height: 16px;

    border: 6px solid #ffffff;
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
  }
}

// =========================== Mobile ===========================

@media (max-width: @tablet) {
  .knowledge {
    padding-top: 30px;
    padding-bottom: 3px;
  }

  .knowledge__heading {
    margin-bottom: 38px;
    font-size: 20px;
    line-height: 30px;

    &::before,
    &::after {
      left: 0;
    }

    &::after {
      left: 20px;
    }
  }

  .knowledge__list {
    margin: 0 auto;
    padding-left: 85px;
    width: 290px;
    height: auto;
  }

  .knowledge__item {
    margin-bottom: 52px;

    &:nth-child(n+4) {
      margin-left: 0;
    }

    &:nth-child(2) {
      .knowledge__item-dot {
        top: 3px;
        left: -53px;
      }
    }

    &:nth-child(3) {
      .knowledge__item-dot {
        top: 3px;
        left: -53px;
      }
    }

    &:nth-child(4) {
      .knowledge__item-dot {
        top: 3px;
        left: -53px;
      }
    }

    &:last-child {
      .knowledge__item-dot {
        top: 3px;
        left: -53px;
      }
    }
  }
}
