.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #080d13;
}

.page-footer__description {
  .indent-reset;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-align: center;
}

.page-footer__description-name {
  text-transform: uppercase;
  color: #f99406;
  letter-spacing: 0.9px;
}

// =========================== Mobile ===========================

@media (max-width: @tablet) {
  .page-footer {
    padding-top: 20px;
  }

  .page-footer__description {
    margin: 0 auto;
    width: 290px;

    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
}
