.videocourse {
  position: relative;
  padding-top: 90px;
  padding-bottom: 328px;
  overflow: hidden;
}

.videocourse__heading {
  position: relative;
  .indent-reset;
  margin-bottom: 13px;
  width: 580px;

  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.videocourse__pre-heading {
  display: block;
  margin-bottom: -46px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #f99406;
  text-shadow: 0 0 20px rgba(249, 148, 6, 0.6);
}

.videocourse__text {
  .indent-reset;
  margin-bottom: 64px;
  width: 360px;
}

.videocourse__form {
  display: flex;
}

.videocource__form-input {
  padding: 0 26px;
  width: 373px;
  height: 54px;

  font-size: 14px;
  line-height: auto;
  letter-spacing: 0.6px;

  border: none;
}

.videocourse__submit-button {
  width: 196px;
  height: 54px;

  font-size: 14px;
  line-height: auto;
  color: #ffffff;
  letter-spacing: 0.8px;

  background-color: #f99406;
  border: none;

  cursor: pointer;
}

.videocourse__image {
  position: absolute;
  top: -185px;
  right: -194px;

  z-index: -1;
}

// =========================== Tablet ===========================

@media (max-width: @desktop) {
  .videocourse {
    padding-top: 65px;
    padding-bottom: 216px;
  }

  .videocourse__pre-heading {
    margin-bottom: -25px;
  }

  .videocourse__heading {
    margin-bottom: 10px;
    width: 420px;

    font-size: 28px;
    line-height: 36px;
  }

  .videocourse__text {
    margin-bottom: 45px;
    width: 325px;

    font-size: 16px;
  }

  .videocource__form-input {
    width: 212px;
  }

  .videocourse__image {
    top: -65px;
    right: -115px;
  }
}

// =========================== Mobile ===========================

@media (max-width: @tablet) {
  .videocourse {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 162px;
  }

  .videocourse__heading {
    margin: 0 auto 10px;
    width: 290px;

    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.9px;
    text-align: center;
  }

  .videocourse__pre-heading {
    margin-bottom: -20px;
  }

  .videocourse__text {
    margin: 0 auto;
    margin-bottom: 266px;
    width: 255px;

    text-align: center;
  }

  .videocourse__form {
    display: flex;
    flex-direction: column;
  }

  .videocource__form-input {
    width: auto;
    height: 45px;
    text-align: center;
  }

  .videocourse__submit-button {
    width: auto;
    height: 45px;
  }
}
